<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>jack@baty.net</string>
	<key>contactName</key>
	<string>Jack baty</string>
	<key>description</key>
	<string>Integration with org-mode files.</string>
	<key>name</key>
	<string>jab-org-mode</string>
	<key>uuid</key>
	<string>99AF4B6A-AD0B-4E15-8CE9-5996AE3F44EA</string>
</dict>
</plist>
